<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oasis.team.econg.econg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Econg">
        <activity
            android:name=".DetailOrderActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".EditProjectActivity"
            android:exported="false" />
        <activity
            android:name=".UserFollowActivity"
            android:exported="false" />
        <activity
            android:name=".MySupportedProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".MyOpenedProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyListActivity"
            android:exported="false" />
        <activity
            android:name=".OpenProjectActivity"
            android:exported="false" />
        <activity
            android:name=".MyCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".ProjectListActivity"
            android:exported="false" />
        <activity
            android:name=".DetailCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".DetailProjectActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <!--activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-->
    </application>

</manifest>